<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>clothService</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectAllGoodServlet</servlet-name>
    <servlet-class>servlet.SelectAllGoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectAllServlet</servlet-name>
    <servlet-class>servlet.SelectAllServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectAllUserServelt</servlet-name>
    <servlet-class>servlet.SelectAllUserServelt</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectAllUserServlet</servlet-name>
    <servlet-class>servlet.SelectAllUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Select_user_by_idServlet</servlet-name>
    <servlet-class>servlet.Select_user_by_idServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Select_user_by_phoneServlet</servlet-name>
    <servlet-class>servlet.Select_user_by_phoneServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PublicgoodServlet</servlet-name>
    <servlet-class>servlet.PublicgoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Select_good_by_idServlet</servlet-name>
    <servlet-class>servlet.Select_good_by_idServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>SelectAllGoodServlet</servlet-name>
    <url-pattern>/SelectAllGoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectAllUserServlet</servlet-name>
    <url-pattern>/SelectAllUserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Select_user_by_idServlet</servlet-name>
    <url-pattern>/Select_user_by_idServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Select_user_by_phoneServlet</servlet-name>
    <url-pattern>/Select_user_by_phoneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublicgoodServlet</servlet-name>
    <url-pattern>/PublicgoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Select_good_by_idServlet</servlet-name>
    <url-pattern>/Select_good_by_idServlet</url-pattern>
  </servlet-mapping>
  

  

  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>